<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/welcome.css">
    <title>Group Presents</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Bienvenue sur GroupGift!</h1>
            <p>Un site permettant de simplifier les cadeaux de groupe!</p>
        </header>
        <main>
            <p>Créer un groupe, ajouter des membres, et simplifier l'organisation des cadeaux de groupe!</p>
            <a onclick="createGroup()" class="get-started-button">Get Started</a>
        </main>
    </div>
</body>
</html>
