<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/welcome.css">
    <title>Group Presents</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Group Presents</h1>
            <p>Making group presents easier for everyone!</p>
        </header>
        <main>
            <p>Create a group, add members, and simplify the gift-giving process.</p>
            <button id="createGroupBtn" class="get-started-button" onclick="openModal()">Get Started</button>
        </main>

        <!-- Modal -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2 class="popup-title">Create a Group</h2>
                <form method="POST" action="./welcome.ejs">
                    <label for="group-name">Group's Name</label>
                    <input id="group-name" type="text" placeholder="Christmas Present">    

                    <label for="group-npassword">Group's Password</label>
                    <input id="group-npassword" type="password">  

                                                                                                                                                                                                                                                                    
                
                
                </form>
                <!-- Your form content goes here -->
            </div>
        </div>
    </div>

    <script >
        // script.js

        function openModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "block";
        }

        function closeModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }

    </script>
</body>
</html>
